body {
  font-family: Helvetica;
  font-size: 32px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: black;
  color: white;
  border: 7px solid aquamarine;
  border-radius: 50px;
}

.results {
  font-weight: lighter;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 4vh;
  height: 22vh;
  font-size: 2em; 
}

.button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-grid {
  padding: .6em;
  gap: .5em;
  height: 40vh;
  width: 32vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.menu-buttons {
  background-color:#a0a0a0;
  color: black;
}

.menu-buttons:hover {
  background-color:#c0c0c0;
}

.numbers:hover {
  background-color: #535353;;
}

.operators, #equal {
  background-color: #f69906;
}

.operators:hover, #equal:hover {
  background-color: #f8b64b;
}

.click-operator {
  background-color: white;
  color: #f69906;
}

.numbers {
  background-color: #313131;
}

.zero {
  padding-left: 3.8vh;
  justify-content: flex-start;
  border-radius: 40px;
  grid-column: span 2;
}

